@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Oswald", sans-serif;
  color: #5d5d7d;
  font-weight: 400;
}

body {
  overflow: hidden;
}

.wrapper {
  width: 100vw;
  height: 100vh;
}

.container-left {
  display: inline-block;
  width: 70%;
  margin-top: 20%;
  padding: 0 130px 0 130px;
}

.container-right {
  display: inline-block;
  background-color: rgb(93, 93, 126, 0.16);
  height: 100vh;
  width: 30%;
  position: absolute;
}

h1 {
  width: 368px;
  height: 160px;
  font-size: 70px;
  line-height: 80px;
}

p {
  width: 540px;
  height: 144px;
  font-size: 28px;
  line-height: 48px;
  margin: 15px 0;
}

button {
  width: 269px;
  height: 62px;
  box-shadow: 0px 10px 24px 0px #9499ea19;
  font-size: 24px;
  line-height: 100%;
  text-align: center;
  color: #ffffff;
  border: none;
  background-color: #9499ea;
  border-radius: 30px;
  cursor: pointer;
  transition: 0.4s;
}

button:hover {
  opacity: 0.8;
}

button:active {
  opacity: 0.5;
}

img {
  width: 456px;
  height: 562px;
  position: relative;
  top: 25%;
  right: 135px;
}

header {
  margin: 24px 58px 0 58px;
}

.link-header {
  font-size: 28px;
  line-height: 100%;
  text-decoration: none;
  margin-left: 41px;
  transition: 0.3s;
}

.link-header:nth-child(2) {
  opacity: 0.4;
}

.link-header:hover {
  opacity: 0.4;
}

.link-header:active {
  opacity: 0.8;
}

@media screen and (max-width: 1800px) {
    body {
        overflow: auto;
    }

    .link-header {
        display: block;
        margin: 15px 0 0;
        text-align: end;
    }
}

@media screen and (max-width: 900px) {
  body {
    overflow: auto;
  }

  .container-left {
    display: block;
    width: 100%;
    height: 50vh;
    margin: 0;
    padding: 0;
  }

  .container-right {
    display: block;
    width: 100%;
    height: auto;
    position: static;
    padding: 40px;
    text-align: center;
  }

  img {
    position: static;
    max-width: 90%;
    height: auto;
  }

  header {
    display: none;
  }

  h1 {
    font-size: 36px;
    line-height: 52px;
    width: auto;
    height: auto;
    text-align: center;
    margin: 58px 54px 0 54px;
  }

  p {
    margin: 15px 40px;
    width: auto;
    height: auto;
    text-align: center;
    font-size: 14px;
    line-height: 24px;
  }

  button {
    display: block;
    margin: 0 auto;
  }
}
